#![enable(implicit_some)]
Container(
    transform: (
        id: "background",
        anchor: Middle,
        stretch: XY( x_margin: 0., y_margin: 0., keep_aspect_ratio: false),
        width: 20.,
        height: 20.,
    ),
    // background: SolidColor(1.0, 1.0, 1.0, 1.0),
    children: [
        Label(
            transform: (
                id: "top-message",
                anchor: TopLeft,
                x: 100.,
                y: -25.,
                width: 200.,
                height: 50.,
                transparent: true,
            ),
            text: (
                text: "N/A",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", ("TTF", ())),
            ),
        ),
        Label(
            transform: (
                id: "top-center",
                anchor: TopMiddle,
                x: 0.,
                y: -25.,
                width: 100.,
                height: 50.,
                transparent: true,
            ),
            text: (
                text: "state",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", ("TTF", ())),
            ),
        ),
        Label(
            transform: (
                id: "top-resources",
                anchor: TopRight,
                x: -100.,
                y: -25.,
                width: 200.,
                height: 50.,
                transparent: true,
            ),
            text: (
                text: "0",
                font_size: 25.,
                color: (1., 1., 1., 1.),
                font: File("font/square.ttf", ("TTF", ())),
            ),
        ),
    ]
)
